<ion-view view-title="器材檢核">
    <ion-content class="padding">
        {{isCheckEqpt}}
        <div ng-show="!isCheckItem" ng-init="loadEqpt()">

            <!-- 欄位值 -->
            <div class="card" ng-repeat="item in equpInfo.eqpt">
                <div class="item item-text-wrap">
                    <h2>{{ item.name }} <span class="positive">{{ item.quantity }}</span> {{ item.unit }}</h2>
                    <label class="item item-input">
                    <input type="number" placeholder="檢核後數量" ng-model="check_item[$index]">
                </label>
                </div>
            </div>

            <button class="button button-full button-dark" ng-click="ConfirmCheck()">送出檢核</button>
        </div>

        <!-- 送出檢核預覽畫面 -->
        <div ng-show="isCheckItem">

            <div class="row">
                <div class="col">項次</div>
                <div class="col">品名</div>
                <div class="col">數量</div>
                <div class="col">單位</div>
                <div class="col">檢核</div>
            </div>

            <div class="row" ng-repeat="item in equpInfo.eqpt">
                <div class="col">{{ item.id }}</div>
                <div class="col">{{ item.name }}</div>
                <div class="col">{{ item.quantity }}</div>
                <div class="col">{{ item.unit }}</div>
                <div class="col {{ ( check_item[$index] < item.quantity ) ? 'assertive' : '' }}">{{ check_item[$index] }}</div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-full button-dark" ng-click="ConfirmCheck()">編輯</button>
                </div>
                <div class="col" ng-show="!isChecked || !isCheckEqpt">
                    <button class="button button-full button-assertive" ng-click="ConfirmCheck()">送出檢核</button>
                </div>

            </div>

        </div>
        <div class="col" ng-show="isChecked || isCheckEqpt">
            <button class="button button-full button-dark" disabled>已送出檢核</button>
        </div>


    </ion-content>
</ion-view>