<ion-view view-title="器材檢核" cache-view="false">
    <ion-content class="padding">
        <div class="ui grid">
            <div class="sixteen wide column" ng-show="!isCheckItem && !isEditing && isSignedAgain" ng-init="loadEqpt()">

                <div class="card" ng-repeat="item in equpInfo.eqpt">
                    <div class="item item-text-wrap">
                        <span class="font-size18">{{ item.name }} {{ item.quantity }} {{ item.unit }}</span>
                    </div>
                    <div class="item-text-wrap">
                        <label class="item item-input">
                                <input type="number" ng-init="check_item[$index]=item.quantity" ng-model="check_item[$index]" style="font-size:18px" placeholder="檢核後數量">
                            </label>
                    </div>
                </div>
                <button class="fluid large ui button taipei-theme" ng-click="EnterCheck()">送出檢核</button>

            </div>

            <div class="sixteen wide column">
                <div class="ui positive message" ng-if="isSignedAgain!='true'">
                    <div class="header">
                        你還沒有簽到唷！
                    </div>
                    <p>
                        請先完成先到才有相對應的器材。
                    </p>
                </div>
            </div>

            <!-- 送出檢核預覽畫面 -->
            <div class="sixteen wide column" ng-show="isEditing">
                <table class="ui unstackable table">
                    <thead>
                        <tr>
                            <th>項次</th>
                            <th>品名</th>
                            <th>數量</th>
                            <th>單位</th>
                            <th>檢核</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in equpInfo.eqpt">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.unit }}</td>
                            <td class="{{ ( check_item[$index] < item.quantity ) ? 'assertive' : '' }}">{{ check_item[$index] }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="ui two bottom attached buttons">
                    <button class="ui button taipei-red" ng-click="EditCheck()">編輯</button>
                    <button class="ui button taipei-theme" ng-click="ConfirmCheck()">確定</button>
                </div>
            </div>

            <div class="sixteen wide column" ng-show="isChecked || isCheckEqpt">
                <button class="fluid ui button disabled">已送出檢核</button>
            </div>

        </div>
    </ion-content>
</ion-view>
</div>