<ion-view view-title="良率檢核">
    <ion-content class="padding">

        <!-- 簽到及場地資訊 -->
        <div class="card">
            <div class="item item-text-wrap">
                項目：中原大學<br /> 場地：資管樓
                <br /> 日期：2015/5/5
            </div>
        </div>

        <!-- 送出檢核預覽畫面 -->
        <div>
            <a href="#/tab/goodrate/2">
                <div class="card">
                    <div class="item item-text-wrap block-assertive">
                        <h3>1) 比賽球 68 / 70 個
                        </h3>
                    </div>
                </div>
            </a>

            <div class="card">
                <div class="item item-text-wrap">
                    <h3>5) 氣壓針 5 / 5 個
                    </h3>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <h3>10) 球網 5 / 5 件
                    </h3>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>