<ion-view view-title="良率檢核">
    <ion-content class="padding" ng-init="checkInfoLoad()">

        <!-- 送出檢核預覽畫面 -->
        <div>
            <!--<a href="#/tab/goodrate/{{ $index+1 }}" ng-repeat="reportInfos in reportInfo">
                <div class="card">
                    <div class="item item-text-wrap block-assertive">
                        <h2>{{ reportInfos.name }} {{ reportInfos.check_quantity }} / {{ reportInfos.quantity }} {{ reportInfos.unit }}
                        </h2>
                    </div>
                </div>
            </a>-->
            <a href="#/tab/goodrate/{{ $index+1 }}" class="not-href-color" ng-repeat="reportInfos in reportInfo">
                <div class="ui stacked segments">
                    <div class="ui segment">
                        <h2>{{ reportInfos.name }} {{ reportInfos.check_quantity }} / {{ reportInfos.quantity }} {{ reportInfos.unit }}</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="ui success message" ng-if="reportInfoIsNull">
            <div class="header">
                送出器材檢核後才可良率檢核。
            </div>
        </div>


    </ion-content>
</ion-view>