<ion-view view-title="登入">
    <ion-content>
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">帳號</span>
                    <input ng-model="user.email" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">密碼</span>
                    <input ng-model="user.password" type="password">
                </label>
            </ion-list>
            <button class="button button-stable button-block" ng-click="login()">Log in</button>
        </form>
    </ion-content>
</ion-view>