<ion-view view-title="登入" name="login-view">
    <ion-content class="padding">

        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui segment basic">
                    <img class="ui medium image centered" src="https://i.imgur.com/Pm7LibJ.png">
                </div>
            </div>

            <div class="sixteen wide column">
                <div class="ui large form">
                    <h4 class="ui horizontal divider header">
                        帳號
                    </h4>
                    <div class="field">
                        <input type="text" ng-model="user.email">
                    </div>
                    <h4 class="ui horizontal divider header">
                        密碼
                    </h4>
                    <div class="field">
                        <input type="password" ng-model="user.password">
                    </div>
                    <button class="fluid ui button icon taipei-theme" type="button" ng-click="login()">Login</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>

</div>