<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">

        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">帳號</span>
                <input ng-model="user.email" type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">密碼</span>
                <input ng-model="user.password" type="password">
            </label>
        </ion-list>
        <button class="button button-block button-dark mdl-js-button mdl-js-ripple-effect" ng-click="login()">登入</button>

    </ion-content>
</ion-view>
