<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">

        <div class="ui grid">
            <div class="sixteen wide column">
                <img class="ui small image centered" src="https://i.imgur.com/WoXFKao.png">
            </div>

            <div class="sixteen wide column">
                <div class="ui large form">
                    <div class="field">
                        <label>帳號</label>
                        <input type="text" ng-model="user.email">
                    </div>
                    <div class="field">
                        <label>密碼</label>
                        <input type="password" ng-model="user.password">
                    </div>
                    <button class="fluid large ui button brown" type="button" ng-click="login()">Login</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>

</div>