<ion-view title="我的資料" cache-view="false">
    <ion-content class="padding">

        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui card centered">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <a class="header">{{ user_details.name }}</a>
                        <div class="meta">
                            <span class="date">{{ user_details.tel }}</span>
                        </div>
                        <div class="description">
                            {{ user_details.email }}
                        </div>
                    </div>
                    <div class="extra content">
                        <button class="ui button fluid taipei-red" ng-click="logout()">登出</button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>