<ion-view view-title="簽到" cache-view="false">
    <ion-content class="padding">

        <div class="ui grid">
            <div class="sixteen wide column">

                <!-- 啟動簽到 -->
                <button class="fluid big ui button taipei-theme" ng-click="AgainSign()" ng-if="isCheckOut && againShow">簽到</button>

                <div class="list" ng-show="!isCheckIn && !againShow">
                    <!-- 項目 -->
                    <div class="ui vertical segment">
                        <label class="item-input item-select">
                            <div class="input-label font-size18">項目</div>
                            <select ng-model="select_eqpt">
                                <option ng-repeat="items in eqpt" value="{{ items.id }}">{{ items.item }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="ui vertical segment">
                        <!-- 場館 -->
                        <label class="item-input item-select">
                            <div class="input-label font-size18">場館</div>
                            <select ng-model="select_place">
                                <option ng-repeat="items in item_detail" value="{{ items.id }}" ng-if="select_eqpt == items.item_id">{{ items.location.name }}</option>
                            </select>
                        </label>
                    </div>
                </div>

                <!-- 選擇好項目跟場館的簽到 -->
                <button class="fluid big ui button taipei-theme" ng-click="sign(select_place)" ng-if="!isSign && select_eqpt && select_place"><i class="ion-checkmark"></i> 簽到</button>

                <!-- 簽退 -->
                <button class="fluid big ui button taipei-red" ng-click="CheckOut()" ng-if="!isCheckOut && isCheckIn">簽退</button>

                <!-- 定位過遠錯誤訊息 -->
                <div class="ui negative message" ng-if="gpsErrorMsg != ''">
                    <div class="header">
                        {{ gpsErrorMsg }}
                    </div>
                </div>

                <!-- 最近一次的簽到資訊 -->
                <div class="ui stacked segment basic">
                    <h2 class="ui header centered">最近一次的簽到地點</h2>

                    <div class="ui stacked segments">
                        <div class="ui segment">
                            <p>
                                <span class="font-size18">
                                    項目： {{ (userSignInfo.item == undefined) ? signItem : userSignInfo.item }}
                                </span>
                            </p>
                        </div>
                        <div class="ui segment">
                            <p>
                                <span class="font-size18">
                                    場館： {{ ( userSignInfo.location == undefined ) ? signLocation : userSignInfo.location }}
                                </span>
                            </p>
                        </div>
                    </div>

                    <!-- 公開注意事項 -->
                    <h2 class="ui header centered">公開注意事項</h2>
                    <div class="ui stacked segments" ng-init="loadMsg()">
                        <div class="ui segment" ng-repeat="msg in isMsg">
                            <p><span class="font-size18">{{ msg.remark }}</span></p>
                        </div>
                    </div>

                    <h2 class="ui header centered">場館注意事項</h2>
                    <div class="ui stacked segments" ng-init="loadVenuesMsg()">
                        <div class="ui segment" ng-repeat="msg in venuesMsg">
                            <p><span class="font-size18">{{ msg.remark }}</span></p>
                        </div>
                    </div>
                </div>
                <!-- 所有人能看見的事項 -->

            </div>
        </div>

    </ion-content>
</ion-view>
</div>