<ion-view view-title="簽到" cache-view="false">
    <ion-content class="padding">

        <div class="ui grid">
            <div class="sixteen wide column">

                <!-- 最近一次的簽到資訊 -->
                <div class="ui stacked segment basic">
                    <h2 class="ui header centered">最近一次的簽到地點</h2>

                    <div class="ui stacked segments">
                        <div class="ui segment">
                            <p>
                                <span class="font-size18">
                                    <i class="hashtag icon"></i>{{ (userSignInfo.item == undefined) ? signItem : userSignInfo.item }}
                                </span>
                            </p>
                        </div>
                        <div class="ui segment">
                            <p>
                                <span class="font-size18">
                                    <i class="bookmark icon"></i> {{ ( userSignInfo.location == undefined ) ? signLocation : userSignInfo.location }}
                                </span>
                            </p>
                        </div>
                        <div class="ui segment">
                            <p>
                                <span class="font-size18">
                                    <i class="calendar icon"></i> 2015/5/3
                                </span>
                            </p>
                        </div>
                    </div>

                    <h2 class="ui header centered">注意事項</h2>
                    <div class="ui stacked segments" ng-init="loadMsg()">
                        <div class="ui segment" ng-repeat="msg in isMsg">
                            <p><span class="font-size18">{{ msg.remark }}</span></p>
                        </div>
                    </div>
                </div>
                <!-- 所有人能看見的事項 -->



                <div class="list" ng-show="!isCheckIn">
                    <!-- 項目 -->
                    <div class="ui vertical segment">
                        <label class="item-input item-select">
                            <div class="input-label font-size18">項目</div>
                            <select ng-model="select_eqpt">
                                <option ng-repeat="items in eqpt" value="{{ items.id }}">{{ items.item }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="ui vertical segment">
                        <!-- 場館 -->
                        <label class="item-input item-select">
                            <div class="input-label font-size18">場館</div>
                            <select ng-model="select_place">
                                <option ng-repeat="items in item_detail" value="{{ items.id }}" ng-if="select_eqpt == items.item_id">{{ items.location.name }}</option>
                            </select>
                        </label>
                    </div>
                </div>

                <button class="fluid big ui button taipei-theme" ng-click="sign(select_place)" ng-if="!isSign && select_eqpt && select_place"><i class="ion-checkmark"></i> 簽到</button>
                <button class="fluid big ui button taipei-red" ng-click="CheckOut()" ng-if="!isCheckOut && isCheckIn">簽退</button>
                <button class="fluid big ui button taipei-theme" ng-click="AgainSign()" ng-if="isCheckOut && againShow">簽到</button>
                <button ng-click="getlocation()">gps</button>
            </div>
        </div>

    </ion-content>
</ion-view>
</div>