<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 簽到 Tab -->
  <ion-tab title="簽到" icon-off="ion-android-done" icon-on="ion-android-done" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 簽退 Tab -->
  <ion-tab title="簽退" icon-off="ion-android-done-all" icon-on="ion-android-done-all" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- 器材檢核 Tab -->
  <ion-tab title="器材檢核" icon-off="ion-wrench" icon-on="ion-wrench" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- 良率檢核 Tab -->
  <ion-tab title="良率檢核" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/goodrate">
    <ion-nav-view name="tab-goodrate"></ion-nav-view>
  </ion-tab>

  <!-- 個人資訊 Tab -->
  <ion-tab title="我的資料" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
